section.slider-section
  h2.title Слайдер
  .slider
    ul.slides#slides
      li.slide.showing
      li.slide
      li.slide
    .buttons
      button.controls.prev#prev
      button.controls.next#next  
    
