section.tabs-section
  h2.title Табы
  .tabs
    ul.tabs__controls
      li.tabs__controls-item
        a.tabs__controls-link.active(href="#tab1") Первый таб
      li.tabs__controls-item
        a.tabs__controls-link(href="#tab2") Второй таб
      li.tabs__controls-item
        a.tabs__controls-link(href="#tab3") Третий таб
    ul.tabs__list
      li.tabs__item.active#tab1
        h3.tabs__item-title Pac-Man
        p Компьютерная игра в жанре аркада, разработанная компанией Namco и впервые вышедшая в 1980 году в Японии. До выхода «Pac-Man» большинство американских игр представляли собой космические шутеры, такие как «Space Invaders» или «Defender». «Pac-Man» же развил новый жанр игры — погони в лабиринте, не предполагающий насилия, а потому игра позиционировалась как для мальчиков, так и для девочек.
      li.tabs__item#tab2
        h3.tabs__item-title F1 2017
        p Это гоночная компьютерная игра, разработанная Codemasters, выпуск которой состоялся 25 августа 2017 года на платформах PlayStation 4, Xbox One и Windows.Игра основана на сезоне 2017 чемпионата Формулы-1.
      li.tabs__item#tab3
        h3.tabs__item-title FIFA 18
        p FIFA 18 — 25-я футбольная игра из серии игр FIFA, разработанная для платформ Windows, Nintendo Switch, PlayStation 4, PlayStation 3, Xbox One и Xbox 360. Игра выпущена компанией Electronic Arts 29 сентября 2017 года. Лицом игры является футболист мадридского «Реала» и сборной Португалии Криштиану Роналду.